html {
  height: 100%;
}

body {
  background-color: #e8e8e8;
  width: 100%;
  height: 100%;
}

main {
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 1px 0;
  height: auto;
}

.my-nav {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: solid grey 1px;
  display: block;
}

#name {
  margin-left: 50px;
  background-color: teal;
  color: white;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  padding: 20px 24px;
  height: 80px;
  display: inline-block;
  width: auto;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-items {
  float: right;
  display: inline-flex;
  padding-top: 10px;
  padding-right: 55px;
  text-align: center;
  font-size: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
}

.nav-items:hover {
  color: teal;
}

#about {
  height: 100%;
  color: grey;
  text-align: center;
  padding-top: 18px;
}

#about:hover {
  color: purple;
  text-decoration: none;
}

#portfolio {
  height: 100%;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding-top: 18px;
}

#portfolio:hover {
  color: purple;
  text-decoration: none;
}

#contact {
  height: 100%;
  color: grey;
  text-align: center;
  padding-top: 18px;
}

#contact:hover {
  color: purple;
  text-decoration: none;
}

.bio {
  background-color: white;
  margin: 30px 10px 180px 50px;
  padding: 20px 10px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  width: 60%;
  height: auto;
  display: inline-block;
}

#aboutMe {
  padding: 10px 10px 20px 0;
  border-bottom: 1px solid grey;
  margin: 0 20px;
  font-size: 32px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#me {
  padding: 10px;
  float: left;
}

#p {
  padding: 10px 20px;
  font-family: 'VT323', monospace;
}

#p::first-letter {
  font-size: 26px;
  font-family: cursive;
}

#about-content {
  padding: 10px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact-fields {
  background-color: white;
  width: 60%;
  margin: 30px auto 20px 50px;
  padding: 20px 40px;
  border: 1px solid grey;
  float: left;
}

#input-group {
  font-size: 28px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

input[type="text"]{
  width: 100%;
}

input[type="text"]:focus{
  border: 3px solid teal;
}

#userMessage:focus{
  border: 3px solid teal;
}

.user-contact {
  padding: 10px 10px;
  font-size: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact {
  float: right;
  background-color: white;
  width: auto;
  height: 125px;
  padding: 20px 20px;
  border: 1px solid grey;
  margin: 30px 50px 0 0;
}

.links {
  text-align: center
}

#submit:hover {
  background-color: teal;
  color: white;
}

.projectLinks {
  display: inline-block;
  height: 100%;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 50px;
}

.pics {
  margin: 0 20px 40px 20px;
}

#connect {
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#github {
  width: 50px;
  height: 50px;
  margin: 3px;;
}

#linkedin {
  width: 50px;
  height: 50px;
  margin: 3px;
}

#stackO {
  width: 50px;
  height: 50px;
  margin: 3px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  border-top: solid 4px teal;
  color: white;
  font-size: 18px;
  text-align: center;
  height: 60px;
  padding-top: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
